.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
.grid-item-input {
  width: 10px;
  border: none;
}
.item-grid-area {
  border: none;
}
